@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .webkit {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

@layer {
  .login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #a9bcba, #f2cec1);
  }
}

@layer {
  .register {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #131d21;
  }
}
